---
import Logo from './Logo.astro'
---

<header>
  <div class="fb">
    <Logo />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle">Program AI Tools</span>
  </div>
  <p mt-1 op-60>Based on OpenAI API (gpt-3.5-turbo).</p>
</header>
